In [1]:
from twython import Twython
import pandas as pd

In [2]:
#Log in Twitter API
TWITTER_APP_KEY = "6rtcf3ZJLKgUDZzR8df6hFOlH"
TWITTER_APP_KEY_SECRET = "RPNyZPTAXFhpeK0BGTXkkmV5IZ11MnEgozpj3LM1UhTp1TY4JO"
TWITTER_ACCESS_TOKEN = "2569127827-rBazShaEn94wzXVBOaHYi3efw7kshh0q7rvpxza"
TWITTER_ACCESS_TOKEN_SECRET = "N9DpSIZCOZwTCCHbof9qo25lquUmdEiMuT6FOtwIJUMop"

In [3]:
t = Twython(app_key=TWITTER_APP_KEY, 
            app_secret=TWITTER_APP_KEY_SECRET, 
            oauth_token=TWITTER_ACCESS_TOKEN, 
            oauth_token_secret=TWITTER_ACCESS_TOKEN_SECRET)

In [8]:
#Query
term = 'Pajak'
tweet_metadatas = t.search(q=term,count=150,result_type='recent',lang='id')

In [9]:
#Scrapping
data_list = []
for tweet in tweet_metadatas['statuses']:
    meta = dict()
    meta['tweet'] = tweet['text']
    meta['timestamp'] = tweet['created_at']
    meta['username'] = tweet['user']['screen_name']
    
    data_list.append(meta)

In [10]:
#Visual
data = pd.DataFrame(data_list)
data.head()

,timestamp,tweet,username
0,Sat Oct 27 04:15:47 +0000 2018,"@IHarefa_94 Kak, paket internet only speed 10M...",TelkomCare
1,Sat Oct 27 04:15:35 +0000 2018,"RT @RamliRizal: Jangan asal nyeplak, banyak ba...",themasterPAS46
2,Sat Oct 27 04:15:14 +0000 2018,"RT @RamliRizal: Jangan asal nyeplak, banyak ba...",IkhsanRamadan_
3,Sat Oct 27 04:14:46 +0000 2018,"RT @RamliRizal: Jangan asal nyeplak, banyak ba...",Antares90252979
4,Sat Oct 27 04:14:42 +0000 2018,Bude kardus anak manja wkwk . ...sedooot pajak...,sujatmix

In [11]:
#Export
writer = pd.ExcelWriter('twitter.xlsx')
data.to_excel(writer,'Sheet1',index=False)
writer.save()